@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");

:root {
  --background-color: #0f0f0f;
}
html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
input:focus {
  border: none;
  outline: none;
}
.main-part {
  display: flex;
  margin-top: 10px;
}
hr {
  border-color: #303030;
}
#videos-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 10px;
  color: white;
  background-color: #0f0f0f;
}

#comments {
  color: white;
}
.video-image img {
  width: 100%;
  height: 190px;
  background-color: white;
  border-radius: 10px;
}
.video-image img:hover {
  border-radius: 0;
  transition-duration: 1s;
}
.channel-description {
  margin-left: 20px;
}
.video-info {
  width: 90%;
}
.channel-description p {
  font-size: 12px;
  margin: 1px;
}
.video-description {
  display: flex;
}
.channel-avatar img {
  border-radius: 60%;
  margin-top: 25px;
}

@media screen and (max-width: 800px) {
  #videos-container {
    grid-template-columns: repeat(3, 34%);
  }
}
@media screen and (max-width: 580px) {
  #videos-container {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}
@media screen and (max-width: 390px) {
  .video-info {
    width: 95%;
    margin-bottom: 10px;
  }

  h5 {
    margin: 0;
    margin-top: 5px;
  }
}